﻿@model ConsumeWebApi.Pagination.PaginatedList<CommentViewModel>

@{
    ViewData["Title"] = "Comments Paging";
}

<h1>Comments Paging</h1>

<table class="table">
    <thead>
        <tr>
            <th class="visually-hidden">@Html.DisplayName("Post ID") </th>
            <th> @Html.DisplayName("ID")  </th>
            <th> @Html.DisplayName("Name") </th>
            <th>@Html.DisplayName("Email")</th>
            <th> @Html.DisplayName("Body") </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td class="visually-hidden">@Html.DisplayFor(modelItem => item.PostId)</td>
            <td> @Html.DisplayFor(modelItem => item.Id)</td>
            <td>@Html.DisplayFor(modelItem => item.Name) </td>
            <td> @Html.DisplayFor(modelItem => item.Email)  </td>
            <td> @Html.DisplayFor(modelItem => item.Body) </td>
        </tr>
}
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPrevious ? "disabled" : "";
    var nextDisabled = !Model.HasNext ? "disabled" : "";

    var startPage = Math.Max(1, Model.PageIndex - 2);
    var endPage = Math.Min(Model.TotalPages, Model.PageIndex + 2);

    var currentPageSize = ViewBag.PageSize ?? 10;
}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="pagination">
                <nav aria-label="Page navigation comments">
                    <ul class="pagination">
                        <li class="page-item @prevDisabled"><a asp-action="Index" asp-route-pageNumber="1" asp-route-pageSize="@currentPageSize" class="page-link">First</a></li>
                        <li class="page-item @prevDisabled"><a asp-action="Index" asp-route-pageNumber="@(Model.PageIndex - 1)" asp-route-pageSize="@currentPageSize" class="page-link">Previous</a></li>

                        @if (startPage > 1)
                        {
                            <li class="page-item"><a asp-action="Index" asp-route-pageNumber="1" asp-route-pageSize="@currentPageSize" class="page-link">1</a></li>
                            @if (startPage > 2)
                            {
                                <li class="page-item disabled"><span class="page-link">...</span></li>
                            }
                        }

                        @for (int i = startPage; i <= endPage; i++)
                        {
                            var active = i == Model.PageIndex ? "active" : "";
                            <li class="page-item @active"><a asp-action="Index" asp-route-pageNumber="@i" asp-route-pageSize="@currentPageSize" class="page-link">@i</a></li>
                        }

                        @if (endPage < Model.TotalPages)
                        {
                            @if (endPage < Model.TotalPages - 1)
                            {
                                <li class="page-item disabled"><span class="page-link">...</span></li>
                            }
                            <li class="page-item"><a asp-action="Index" asp-route-pageNumber="@Model.TotalPages" asp-route-pageSize="@currentPageSize" class="page-link">@Model.TotalPages</a></li>
                        }

                        <li class="page-item @nextDisabled"><a asp-action="Index" asp-route-pageNumber="@(Model.PageIndex + 1)" asp-route-pageSize="@currentPageSize" class="page-link">Next</a></li>
                        <li class="page-item @nextDisabled"><a asp-action="Index" asp-route-pageNumber="@Model.TotalPages" asp-route-pageSize="@currentPageSize" class="page-link">Last</a></li>
                    </ul>
                </nav>
            </div>
             <div class="page-size-form">
                <form asp-action="Index" method="get">
                    <label for="pageSize">Page Size </label>
                    <select id="pageSize" name="pageSize">
                        <option value="10">10</option>
                        <option value="20">20</option>
                        <option value="50">50</option>
                    </select>
                    <script>
                        document.getElementById("pageSize").value = @ViewBag.PageSize;
                    </script>
                    <button type="submit" class="btn btn-default btn-sm">Apply</button>
                </form>
            </div>
        </div>

        <div class="col-md-6" style ="text-align:right">
            <span class="total-data-info">Total Record(s) : @(currentPageSize * (Model.TotalPages - 1) + Model.Count) Row(s)</span>
        </div>
    </div>
</div>